$dark: #000;
$darker: #111;
$dark-low: #666;
$dark-medium: #333;
$light-low: #999;
$light-medium: #bbb;
$ligther: #ddd;
$light: #fff;
$blue: #053440;
$darker-blue: #010F12;
$light-yellow: rgb(233, 190, 1);
$dark-yellow: rgb(189, 154, 0);

