$dark: #000;
$darker: #111;
$dark-low: #666;
$light-low: #999;
$light-medium: #bbb;
$ligther: #ddd;
$light: #fff;

$background: #053440;
$backgroundLoading: #010F12;
$iconLoading: #F8CA00;
$iconLoading2: rgb(189, 154, 0);
$dark-medium: #333;

